# Rust / Tauri
/src-tauri/target/
/src-tauri/gen/
target/

# Node (au cas où on ajoute un bundler plus tard)
node_modules/
dist/

# Divers
.DS_Store
Thumbs.db
*.log

# pdf-lib recupere au build par la CI
src/vendor/pdf-lib.min.js
src/vendor/leaflet.js
src/vendor/leaflet.css
